<tr>
  <td class="center">
    <label class="pos-rel">
      <input type="checkbox" class="ace" />
      <span class="lbl"></span>
    </label>
  </td>
  <td class="center">
    <div class="action-buttons">
      <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
        <i class="ace-icon fa fa-angle-double-down"></i>
        <span class="sr-only"><%= t ".detail" %></span>
      </a>
    </div>
  </td>
  <td>
    <audio class="html5_audio" controls=""><source src="<%=question_type.content%>" type="audio/mpeg">
      <%= t ".browser" %>
    </audio>
  </td>
  <td>
    <div class="hidden-sm hidden-xs btn-group">
      <a href="#SuaPart1" role="button" data-toggle="modal">
        <button class="btn btn-xs btn-info">
          <i class="ace-icon fa fa-pencil bigger-120"></i>
        </button>
      </a>
      <a href="#XoaPart1" role="button" data-toggle="modal">
        <button class="btn btn-xs btn-danger">
          <i class="ace-icon fa fa-trash-o bigger-120">
          </i>
        </button>
      </a>
    </div>
  </td>
</tr>
