<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
      <div class="col-xs-12">
        <table id="simple-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="center">
                <label class="pos-rel">
                  <%= t ".order_number" %>
                </label>
              </th>

              <th class="center"><%= t ".name" %></th>
              <th class="center"><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render "admin/shared/exam", exams: exams %>
          </tbody>
        </table>
      </div><!-- /.span -->
    </div><!-- /.row -->

    <div class="hr hr-18 dotted hr-double"></div>
    <!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div><!-- /.row -->
