<div class="center">
  <div class="col-sm-12">
    <div class="tabbable">
      <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
        <li class="active">
          <a data-toggle="tab" href="#home4"><%= t ".part1" %></a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home4" class="tab-pane in active">
          <%= render "admin/writing/shared/list_exam", exams: @writing_exams %>
        </div>
      </div>
    </div>
  </div><!-- /.col -->
</div>
