<tr>
  <td class="center">
    <label class="pos-rel">
      <input type="checkbox" class="ace" />
      <span class="lbl"></span>
    </label>
  </td>
  <td class="center">
    <div class="action-buttons">
      <a href="#" class="green bigger-140 show-details-btn" title="Show Details">
        <i class="ace-icon fa fa-angle-double-down"></i>
        <span class="sr-only"><%= t ".detail"%></span>
      </a>
    </div>
  </td>
  <td><p><%= raw question_type.content%></p></td>
  <td>
    <div class="hidden-sm hidden-xs btn-group ">
      <%= link_to edit_admin_reading_paragraph_question_path(question_type) do %>
        <button class="btn btn-xs btn-info">
          <i class="ace-icon fa fa-pencil bigger-120"></i>
        </button>
      <% end %>
      <% if not_belong_to_exam(question_type) %>
        <%= link_to admin_reading_reading_question_path(question_type), method: :delete, data: { confirm: t(".confirm") } do %>
          <button class="btn btn-xs btn-danger">
            <i class="ace-icon fa fa-trash-o bigger-120">
            </i>
          </button>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
