<tr>
  <td><%= question.title %></td>
  <% question.answers.each do |answer| %>
    <td><%= answer.content %></td>
  <% end %>
  <td>
    <%= t ".answer"%><br/><%= Answer.true_answer(question.id).first&.content %>
  </td>
</tr>
