@import "bootstrap-sprockets";
@import "bootstrap";
@import "admin/application_vendor";
@import "admin/ace-ie.min";
@import "admin/ace.min";
@import "admin/ace-skins.min";
@import "admin/ace-rtl.min";
@import "admin/chosen.min";
@import "admin/colorbox.min";
@import "admin/dropzone.min";
@import "admin/font-awesome.min";
@import "admin/fonts.googleapis.com";
@import "admin/jquery-ui.custom.min";
@import "admin/jquery-ui.min";
@import "admin/jquery.gritter.min";
@import "admin/prettify.min";
@import "admin/jquery.gritter.min";
@import "admin/select2.min";
@import "admin/ui.jqgrid.min";

.btn-add {
  padding-left: 550px;
  padding-right: 140px;
}
#table-details {
  display: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
