
<tr>
  <td><%= question.title %></td>
  <% question.answers.each do |answer| %>
    <td><%= image_tag answer.picture.url, class: "thumbnail inline no-margin-bottom picture-answer" if answer.picture? %></td>
  <% end %>
  <td>
    <%= t ".answer"%> <br/><%= image_tag Answer.true_answer(question.id).first&.picture.url, class: "thumbnail inline no-margin-bottom picture-answer" if Answer.true_answer(question.id).first&.picture?%>
  </td>
</tr>
